!!! 5
%html
  %head
    %title Register @ Active.com
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="viewport" content="width=1024, initial-scale=1, user-scalable=no")
    %link(type="text/css" rel="stylesheet" media="all" href="/shared.css")
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(type="text/javascript" src="/scrollto.min.js")
    %script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA_3QHUb0m7xaAtwfPfigwhaG37JsJv42c&sensor=false")

  %body
    %ul#menu
      %li
        %a.button(href="#running" data-sport="running") Running
      %li
        %a.button(href="#cycling" data-sport="cycling") Cycling
      %li
        %a.button(href="#outdoors" data-sport="hiking") Outdoors
      %li
        %a.button(href="#golf" data-sport="golf") Golf
      %li
        %a.button(href="#swimming" data-sport="swimming") Swimming
      %li
        %a.button(href="#baseball" data-sport="baseball") Baseball
      %li
        %a.button(href="#football" data-sport="football") Football

    #container
      #map
      %ul#results

    :javascript
      $(function() {
        var zip = '92121';
        var center = new google.maps.LatLng(32.901894, -117.207664);
        var options = {
          zoom: 9,
          center: center,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map"), options);
        var markers = [];

        // menu items
        $('#menu a').click(function() {
          getResultsFor($(this).attr('data-sport'), zip);
        });

        // clicking a row in results
        $('#results li').live('click', function() {
          var id = parseInt($(this).attr('id').split('_')[1]);
          rowClicked(id);
        }).find('a').live('click', function(e) {
          e.preventDefault();
          e.stopPropagation();
          $(this).parents('li').click();
        });

        // clicking one of the buttons in the results list
        $('#results a.online').live('click', function(e) {
          e.preventDefault();
          e.stopPropagation();
          location.href = $(this).parents('li').attr('data-url');
        });

        $('#results a.print').live('click', function(e) {
          e.preventDefault();
          e.stopPropagation();
          $(this).parents('li').find('.email').fadeIn(500).find('input').focus();
        });

        var rowClicked = function(id) {
          var $this = $('#result_'+id);

          if ($this.hasClass('closed')) {
            clearBouncing();    // stop all markers from bouncing
            closeAllRows();     // collapse all other rows

            $this.find('.short').hide();
            $this.find('.long').fadeIn();
            $this.removeClass('closed').addClass('open');
            $this.find('.buttons').fadeIn();
            $('#results').scrollTo($this, 500);

            // find the marker for this result
            for(i in markers) {
              if (markers[i] && markers[i].data == id) {
                markers[i].setAnimation(google.maps.Animation.BOUNCE);
                map.panTo(markers[i].position);
                break;
              }
            }
          }
        };

        var clearBouncing = function() {
          for(i in markers) {
            var marker = markers[i]
            if (marker) {
              marker.setAnimation(null);
            }
          }
        }

        var removeAllMarkers = function() {
          while(markers.length > 0) {
            var marker = markers.pop();
            if (marker) {
              marker.setMap(null);
            }
          }
        }

        var closeAllRows = function() {
          $('#results li.open').each(function() {
            $(this).removeClass('open').addClass('closed').find('.short').show().end().find('.long').hide().end().find('.buttons').hide().end().find('.email').hide();
          });
        } 


        var getResultsFor = function(sport, zip) {
          removeAllMarkers();
          $('#results').html('');

          $.get('/search', {channel:sport, zip:zip, num:10}, function(data) {
            for(var i=0;i<data.length;i++) {
              (function() {
                var id = 'result_' + i;
                var row = $('<li>').attr('id', id).attr('data-asset_id', data[i].asset_id).attr('data-url', data[i].url).addClass('closed').html($('<h2>').html($('<a>').attr('href','#').html(data[i].name))).hide();
                $('#results').append(row);
                row.fadeIn(500);

                // get details for each row
                $.get('/detail', {asset_id:data[i].asset_id}, function(result) {
                  var asset = result._results[0];

                  if (asset) {
                    // summary
                    if (asset.meta && asset.meta.summary) {
                      var short = $('<p>').attr('class', 'summary short').text(asset.meta.summary.slice(0,100)+'...').hide();
                      var long = $('<p>').attr('class', 'summary long').text(asset.meta.summary).hide();
                      row.append(short).append(long);
                      short.fadeIn(500);
                    }

                    // when
                    if (asset.meta && asset.meta.startDate) {
                      var label = $('<span>').attr('class', 'label').text('When:');
                      var value = $('<time>').attr('class', 'start_date').attr('datetime', asset.meta.startDate).html(asset.meta.startDate);
                      var container = $('<span>').attr('class', 'start_date').append(label).append(value).hide();
                      row.append(container)
                      container.fadeIn(500);
                    }

                    // where
                    if (asset.meta && asset.meta.location) {
                      var label = $('<span>').attr('class', 'label').text('Where:');
                      var value = $('<span>').attr('class', 'location').html(asset.meta.location);
                      var container = $('<span>').attr('class', 'start_date').append(label).append(value).hide();
                      row.append(container)
                      container.fadeIn(500);
                    }

                    // reg buttons
                    var regButton = $('<a>').attr('class', 'button online').attr('href', '#').text('Register on Active.com');
                    var printButton = $('<a>').attr('class', 'button print').attr('href', '#').text('Print a Receipt and Pay Here');
                    var container = $('<div>').attr('class', 'buttons').append(regButton).append(printButton).hide();
                    row.append(container);

                    // email address for printing
                    var label = $('<label>').text('Email Address');
                    var input = $('<input>').attr('type','text').attr('name','email_address');
                    var go = $('<a>').attr('class','button submit').text('Print');
                    var example = $('<span>').attr('class', 'example').text('Please provide your email address so we can email you the rest of your registration details.');
                    var container = $('<div>').attr('class', 'email').append(label).append(input).append(go).append(example).hide();
                    row.append(container);

                    // drop a pin
                    if (asset.meta && asset.meta.latitude && asset.meta.longitude) {
                      var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(parseFloat(asset.meta.latitude), parseFloat(asset.meta.longitude)),
                        map: map,
                        animation: google.maps.Animation.DROP,
                        title:asset.title,
                        data:parseInt(id.split('_')[1])
                      });

                      markers.push(marker);

                      google.maps.event.addListener(marker, 'click', function() {
                        rowClicked(marker.data);
                      });

                    } else {
                      markers.push(null);
                    }
                  } else {
                    // set a null pin
                    markers.push(null);
                  }
                });
              }());
            }
          });
        };

        // start us up by showing running
        getResultsFor('running', zip);
        
      });

      // http://maps.google.com/maps?q=10182+Telesis+Ct,+San+Diego,+CA+92121+(work)&hl=en&ll=32.901894,-117.207664&spn=0.205237,0.279121&sll=37.0625,-95.677068&sspn=49.176833,71.455078&vpsrc=6&t=v&hnear=10182+Telesis+Ct,+San+Diego,+California+92121&z=12

